{% extends "base.html.twig" %}
{% block body %}
<h2><strong><div class="p-3 mb-2 bg-dark text-light"><center>ADMINISTRATEURS<br><br>Sulaiman FAYYAZ<br><br>Kamul ALINASSOMAWATARA</center></div></strong></h2>
{% endblock %}