{% extends "base.html.twig" %}

{% block body %}
    <section class="breadcrumb_section page-title-light background_bg bg_fixed overlay_bg_blue_70" data-img-src="{{asset('deco/assets/images/blue5.jpg')}}"> 
	<div class="container">
    	<div class="row align-items-center">
        	<div class="col-sm-12 text-center">
            	<div class="page-title">
            		<h2><strong><div class="p-3 mb-2 bg-light text-dark">CONTACT</div></strong></h2>

                   {# <style type="text/css">
@font-face {
    font-family: "Monoton-Regular";
    src: url(deco\assets\fonts\Monoton-Regular.ttf);
}
p.customfont { 
    font-family: "Monoton-Regular" !important;
}
</style>
<p class="customfont">Hello world!</p>#}
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container">
<strong> <center> 
<div class="p-3 mb-2 bg-dark text-white">
Adresse : 001 Place du Style, VilleduStyle
<br> <br> Email : jaipastrouvédemaildroleàmettre@pantalon.com 
<br><br>   Téléphone : 00000000000000000001 
<br><br><br><br>Qui sommes-nous? 
<br><br> En vrai, nous sommes 2 personnes, il n'y a pas d'entreprise... 
<br> D'ailleurs on vend pas non plus de jeans. On a trouvé les images sur internet et on a mis un prix c'est tout. 
<br> Vous aimez bien le logo? C'est moi qui l'ai fait et j'ai dû payer 1 euro sur le site pour le faire. :'(
<br> Au moins on peut dire que je me suis investi à fond.
<br><br> Bah en vrai j'ai pas d'autres trucs à dire, à part qu'on l'a vraiment fait à contre coeur ce projet...
<br><br> Je vous souhaite une bonne visite dans notre boutique et n'oubliez pas : [Insérer Slogan de l'entreprise] </div></center></strong>
</section>
{% endblock %}