{% extends "base.html.twig" %}
{% block body %}
<section class="container">
<h1> {% trans %}Politiques de Confidentialités{% endtrans %}</h1>
<div class="container">
<h3>
{% trans %}
Vos données d'achats sont  sauvegardés pour une période d'une année. Vous pouvez les demander durant cette période. Nous sommes les seuls à traiter ces informations. 
{% endtrans %}
</h3>
</div>
</section>
{% endblock %}