{% extends "base.html.twig" %}
{% block body %}
<section class="container">
<h1>{% trans %}Notre politique de confifentialite{% endtrans %}</h1>
<div class="container">
<h3>
{% trans %}Vos données sont protégées et nul ne peut y accéder; en faisant des achats chez nous vous vous soumettez à nos conditions d'utilsation.{% endtrans %}</h3>
</div>
</section>
{% endblock %}