<form method="post" action="{{ path('coupons_delete', {'id': coupon.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer le coupon?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coupon.id) }}">
   <center> <button class="btn"><div class="p-3 mb-2 bg-dark text-light"><center><strong>Delete</strong></center></div></button></center>
</form>
