{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Users{% endtrans %}</h1>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('users_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
