{% extends 'base.html.twig' %}

{% block title %}New Coupons{% endblock %}

{% block body %}
<section class="container">
    <div class="container">

        <h1>Create new Coupons</h1>
        
        {{ include('coupons/_form.html.twig') }}
        
        <a class="btn btn-primary" href="{{ path('coupons_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
